<h1 class="section-heading">Agenda</h1>
<p class="lead section-lead">Confira nossa agenda e fique por dentro de todos nossos eventos</p>
<p class="section-paragraph">** A agenda está sugeita a mudanças sem prévio aviso</p>
<div class="col-md-4 text-center" ng-repeat="cast in vm.casts">
    <h1><i class="fa fa-calendar fa-4x"></i></h1>
    <h2>{{ cast.date | date: 'dd/MM' }}</h2>
    <p>
        <strong>S{{ cast.season }}E{{ cast.episode }} - {{ cast.title }}</strong><br />
        <small>
            <em>{{ cast.summary }}</em>
        </small>
    </p>
    <p>
        <a href="{{ cast.youtube }}" target="_blank" class="btn btn-danger btn-block"><i class="fa fa-youtube"></i>&nbsp;&nbsp;Assista direto no Youtube</a>
    </p>
    <p>
        <a href="{{ cast.ical }}" target="_blank" class="btn btn-success btn-block"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Adicionar ao Calendário</a>
    </p>
    <p>
        <a href="{{ cast.facebook }}" target="_blank" class="btn btn-default btn-block"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Acompanhe no Facebook</a>
    </p>
</div>