<h1 class="section-heading">Convidados</h1>
<p class="lead section-lead">Confira nossa agenda e fique por dentro de todos nossos eventos</p>
<p class="section-paragraph">** A agenda está sugeita a mudanças sem prévio aviso</p>
<div class="col-md-3 text-center">
    <h1><i class="fa fa-calendar fa-4x"></i></h1>
    <h2>01 JULHO</h2>
    <p>
        <strong>S02E01 - Domain Driven Design: Parte 5</strong><br />
        <small>
            <em>Neste primeiro episódio da segunda temporada, vamos falar sobre Domain Events e Domain Notifications no conceito de DDD.</em>
        </small>
    </p>
    <p>
        <a href="#" class="btn btn-success btn-block"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Adicionar ao Calendário</a>
    </p>
    <p>
        <a href="#" class="btn btn-default btn-block"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Acompanhe no Facebook</a>
    </p>
</div>